<app-navbar></app-navbar>

<form>
  <div class="form-group">

    <div>
      <mat-icon>email</mat-icon>
      <label for="email">E-mail</label>
      <input type="email" id="email" class="form-control">
    </div>

    <div>
      <mat-icon>lock</mat-icon>
      <label for="senha">Senha</label>
      <input type="password" id="senha" class="form-control">
    </div>

    <button class="btn btn-primary">Entrar</button>

    <div class="formGroup">
      <button type="button" (click)="authService.GoogleAuth()">
        Log in with Google
      </button>
    </div>
  </div>
    
</form>

<app-footer></app-footer>