<app-navbar></app-navbar>

<form>
  <h1>Cadastrar</h1>
  <p>Para cadastrar, preencha os campos abaixo:</p>

  <div class="form-group">
    <div>
      <mat-icon>account_circle</mat-icon>
      <label for="nome">Nome</label>
      <input type="text" id="nome" class="form-control">
    </div>

    <div>
      <mat-icon>email</mat-icon>
      <label for="email">E-mail</label>
      <input type="email" id="email" class="form-control">
    </div>

    <div>
      <mat-icon>lock</mat-icon>
      <label for="senha">Senha</label>
      <input type="password" id="senha" class="form-control">
    </div>

    <div>
      <mat-icon>lock</mat-icon>
      <label for="senha2">Confirme a senha</label>
      <input type="password" id="senha2" class="form-control">
    </div>

    <button class="btn btn-primary">Cadastrar</button>
  </div>
    
</form>

<app-footer></app-footer>